.how-its-made-container {
  background-color: #fff5f6;
}
.section-made-name {
  padding-top: 60px;
  transition: transform 250ms;
  cursor: default;
}
.section-made-name:hover {
  transform: translateY(-10px);
}

.section-made-label {
  text-transform: uppercase;
  font-family: var(--primary-font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffa5ba;
}

.section-made-title {
  text-transform: uppercase;
  font-family: var(--primary-font-family);
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #d41443;
}

.section-made-image {
  background-image: url(../images/section-made-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 20% 50%;
}
.section-made-image picture {
  display: flex;
  justify-content: center;
}
.section-made-image picture:hover {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.section-made-text {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-made-text p {
  font-family: var(--secondary-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.04em;
  text-align: left;
  width: 220px;
  cursor: default;
}
.section-made-text p:hover {
  transform: scale(1.2);
  transition: all 0.25s linear;
}

.section-made-text .section-made-paragraph {
  color: #907e82;
  margin-top: 15px;
}
.section-made-btn {
  margin-top: 20px;
  border: none;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  background-color: #ffff;
  color: #d41443;
  cursor: pointer;
  font-family: var(--secondary-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  padding-right: 30px;
}
.section-made-btn:hover {
  background-color: #ecebeb;
  transition: var(--transition);
}

.button-text {
  position: relative;
}
.btn-dash {
  position: absolute;
  top: 38px;
  left: 150px;
}

.about-product {
  margin-top: 40px;
  padding: 0 20px 60px 0;
}
.about-product-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
}
.about-product-list p {
  width: 280px;
}
.about-product-list h3 {
  margin-top: 30px;
}
.about-product-list li {
  margin-top: 30px;
  transition: transform 250ms;
  cursor: default;
}
.about-product-list li:hover {
  transform: translateY(-10px);
}

.about-product-icons {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-product-numbers {
  font-family: var(--primary-font-family);
  font-size: 36px;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #d41443;
}
.about-product-text {
  font-family: var(--secondary-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: left;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .section-made-image {
    display: flex;
    justify-content: center;
  }
  .section-made-text {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 334px;
    margin-top: 40px;
  }

  .about-product {
    padding-bottom: 205px;
  }
  .about-product-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
  .about-product-list li h3 {
    margin-top: 30px;
  }
  .about-product-list li p {
    width: 150px;
  }
  .section-made-image {
    background: none;
  }
}

// Desktop
@media screen and (min-width: 1158px) {
  .section-made-image {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .section-made-text p {
    width: 300px;
  }

  .about-product {
    padding-bottom: 179px;
  }
  .about-product-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
  }

  .section-made-image {
    background-image: url(../images/section-made-bg-d.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
}
