

.how-its-made-container{
    background-color: #FFF5F6;


}
.section-made-name{
    padding-top: 60px;
}
.section-made-label{
    text-transform: uppercase;
    font-family: Titan One;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;

}
.section-made-title{
    text-transform: uppercase;
    font-family: Titan One;
    font-size: 34px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-align: center;

}
.section-made-text{
    background-image: url(../images/section-made-bg.png);
}

