.products-section{
    width: 100%;
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
    box-sizing: border-box;
}
.products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}
.products-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.products-label{
    font-family: Titan One;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 165, 186, 1);
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.products-header{
    font-family: Titan One;
    font-size: 34px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.04em;
    text-align: center;
    color: rgba(212, 20, 67, 1);
    margin-top: 0;
    margin-bottom: 150px;
    text-transform: uppercase;
}



.products-list{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.product-item{
    position: relative;
    width: 280px;
    height: 485px;
    padding-top: 165px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 24px;
    text-align: center;
    box-sizing:border-box ;
    transition: .35s cubic-bezier(.4, 0, .2, 1) 50ms;
    transition-property: background-color, box-shadow, font-size, line-height;
}
.product-image{
    position: absolute;
    width: 280px;
    top:-30%;
    left:0;
}
.product-item:first-child{
    background-color:rgba(255, 184, 202, 1);
}             
.product-item:nth-child(2){
    background-color: #F0D1A5;
}
.product-item:nth-child(3){
    background-color: #C2E297;
}


.product-item h3{
    font-family: Titan One;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.04em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    margin-bottom: 32px;
}
.products-dots{
    width: 26px;
    height: 6px;
}
.product-description{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin-top: 32px;
    margin-bottom: auto;
}

.arrow-right{
    width: 40px;
    height: 40px;
}
.arrow-container {
    position: absolute;
    left: 120px;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fff;
    transition: .35s cubic-bezier(.4, 0, .2, 1) 0ms;
    transition-property: width, height, transform, box-shadow, background-color, fill;
}

.arrow-container svg {
    width: 20px;
    height: 20px;
    fill: #d41443;
    transition: .35s cubic-bezier(.4, 0, .2, 1) 0ms;
    transition-property: transform, fill;
}

// Tablet
@media screen and (min-width: 768px){
    .products-section{
        width: 100%;
    }
    .products-container{
        max-width: 768px;
        padding: 0 35px;
    }
    .products-list {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }
    .products-label{
        font-size: 26px;
        line-height: 30px;
    }

    .products-header{
        font-size: 48px;
        line-height: 55px;
    }
    .product-item{
        flex-basis: calc(33.33333% - 20px);
        position: relative;
        width: 225px;
        height: 485px;
        padding-top: 130px;
        padding-left: 18px;
        padding-right: 18px;
    }
    .product-image {
        width: 225px;
        top: -25%;
        left: -5px;
    }
    .product-description {
        line-height: 25px;
    }
    .product-item:hover .arrow-right {
        transform: rotate(-90deg);
        cursor: pointer;
        fill: #fff;
    }
    .arrow-container{
        left: 85px;
    }
    .product-item:hover .arrow-container {
        border-radius: 35%;
        background-color: #d41443;
        width: 50px;
        height: 50px;
        box-shadow: 0 0 7px rgba(0, 0, 0, .15);
    }
    .product-item:first-child:hover {
        box-shadow: 0 5px 15px rgba(144, 35, 62, .632);
        background-color: #e2a0b6;
    }

    .product-item:nth-child(2):hover {
        box-shadow: 0 5px 15px rgba(144, 35, 62, .632);
        background-color: #d6be94;
    }

    .product-item:nth-child(3):hover {
        box-shadow: 0 5px 15px rgba(144, 35, 62, .632);
        background-color: #aecc86;
    }
    .product-item:hover .product-description {
        font-size: 15px;
        letter-spacing: 0.48;
        font-family: DM Sans, sans-serif;
        line-height: 22px;
    }

    .product-item:hover h3 {
        font-size: 22px;
    }

}

// Desktop
@media screen and (min-width: 1158px){
    .products-section {
        width: 100%;
    }
    .products-container{
        max-width: 1280px;
        padding: 0 115px;
        box-sizing: border-box;
    }
    .products-list {
        gap: 32px;
    }
    .products-label {
        font-size: 30px;
        line-height: 34px;
        letter-spacing: 0.04em;
        margin-bottom: 46px;
    }
    .products-header{
        font-size: 58px;
        line-height: 66px;
        letter-spacing: 0.06em;
        margin-bottom: 281px;
    }
    .product-item{
        flex-basis: calc(33.33333% - 30px);
        cursor: pointer ;
        width: 368px;
        height: 535px;
        padding-top: 150px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .product-image {
        width: 368px;
        top: -50%;
        left: -5px;
    }
    .product-item h3 {
        font-size: 30px;
        line-height: 34px;
    }

    .product-description {
        font-size: 16px;
        line-height: 28px;
        margin-top: 32px;
    }
    .arrow-container{
        left: 160px;
        bottom: 60px;
        letter-spacing: 0.48px;
    }

    .product-item:hover .product-description{
        font-size: 18px;
        line-height: 1.56;
    }

    .product-item:hover h3{
        font-size: 33px;
    }
    .products-label:hover{
        cursor: default;
        animation: letterspc;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }
    .products-header:hover{
        cursor: default;
        animation: letterspc2;
        animation-duration: 2s;
        animation-timing-function: ease-in-out;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
    }
    @keyframes letterspc {
        0% {
            letter-spacing: 0.4em;
        }
        100% {
            letter-spacing: 0.04em;
        }
    }
    @keyframes letterspc2 {
        0% {
            letter-spacing: 0.6em;
        }
        100% {
            letter-spacing: 0.06em;
        }
    }
        
}   