

:root {
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --primary-font-family: 'Titan One', sans-serif;
    --secondary-font-family: 'DM Sans', sans-serif;
  }

a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.footer-locations {
    background: linear-gradient(to bottom, white 15%, #FFF5F6 35%);
    background-size: 100%;
    margin: 0 auto;
    
  }
.footer-locations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.locations-cards {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 padding: 0;
 gap: 20px;
}
.locations-cards li {
    height: 412px;
    width: 100%;
    border-radius: 24px;
    padding-left: 32px;
    padding-top: 40px;
    padding-right: 32px;
    background: #FFF;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.10);
    transition: background-color var(--transition);
}
.locations-cards li:hover {
    box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.locations-cards li:focus {
    box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.3);
}
.footer-locations-title{
color: #FFF;
text-align: center;
font-family: var(--secondary-font-family);
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 186%; /* 22.32px */
letter-spacing: 0.48px;
display: flex;
justify-content: center;
align-items: center;
width: 80px;
height: 16px;
text-transform: uppercase;
background-color: #F0D1A5;
border-radius: 4px;
}
#foodtruck {
    background-color: #C2E297;
    width: 130px;
}
.location {
color: #000;
font-family: var(--secondary-font-family);
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 186%; /* 22.32px */
letter-spacing: 0.48px;
width: 57.01px;
height: 22px;
width: 90px;
height: 22px;
top: 5403px;
left: 52px;


}
.superior-card-text {
font-family: var(--secondary-font-family);
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0.04em;
width: 216px;
height: 36px;
color: #907E82;

}
.schedule-container h2{
    font-family: var(--secondary-font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    
}
.hours {
font-family: var(--secondary-font-family);
font-size: 12px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #FFA5BA;

}
.footer-locations-contacts a {
    font-family: var(--secondary-font-family);
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #907E82;

}
.superior-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E1E1E1;
}
.schedule-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E1E1E1;
}
.days-weekend {
    margin-top: 8px;
}
.footer-locations-contacts {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
    
}
.our-locations {
width: 161.45px;
height: 44px;
top: 6203px;
left: 78px;
border-radius: 22px;
border: none;
margin-bottom: 10px;
margin-top: 32px;
font-family: var(--secondary-font-family);
font-size: 16px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
color: #FFF;
background-color: #D41443;
transition: background-color var(--transition);

}
.locations-buttons {
    display: flex;
    flex-direction: column;
}
.franchise {
width: 161px;
height: 44px;
top: 6257px;
left: 78px;
border-radius: 22px;
border: none;
font-family: var(--secondary-font-family);
font-size: 16px;
font-weight: 700;
line-height: 21px;
letter-spacing: 0em;
text-align: center;
color: #D41443;
background-color: #FFF;
transition: background-color var(--transition);
}
.franchise:hover {
    cursor: pointer;
    box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.3);
}
.franchise:focus {
    box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.3);
}
.svg-franchise {
margin-left: 8px;
width: 4.28px;
height: 8px;
top: 6276px;
left: 203.42px;
border: 2px;   
}
.svg-locations {
margin-left: 8px;
width: 4.28px;
height: 8px;
top: 6276px;
left: 203.42px;
border: 2px; 
}
.our-locations:hover {
    cursor: pointer;
    box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.3);
}
.our-locations:focus {
    box-shadow: 0 -10px 10px -5px rgba(0, 0, 0, 0.3);
}
// Tablet
@media screen and (min-width: 768px)  {
    .footer-locations-container {
        display: flex;
        flex-direction: column;
    }
    .locations-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }
    .locations-cards li {
        margin-top: 30px;
        margin-left: 30px;
        flex-basis: calc(100% - 90px)/3;
    }
    .locations-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .franchise {
        position: relative;
        top: 10px;
        bottom: 100px;
        left: 20px;
    }
}