:root {
  --footer-title-font: 'Titan One';
  --footer-font: 'DM Sans';
}
.footer-contact {
  background-color: #fff5f6;
  // position: absolute;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}
.footer-title-one {
  display: flex;
  flex-direction: column;
  //   padding-inline: 20px;
}
.footer-title-ice-cream {
  font-family: var(--footer-title-font);
  font-weight: 400;
  font-size: 18px;
  // line-height: 29.77px;
  /* width: 340px; */
  //   height: 20px;
  color: #ffa5ba;
  // margin-left: 50px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  & > span:first-child {
    // width: 18em;
    display: block;
  }
}
.footer-title-ice-cream {
  margin-bottom: 1rem;
}
.footer-left {
  // width: 15em;
}
.letter {
  font-family: var(--footer-title-font);
  font-weight: 400;
  font-size: 34px;
  // line-height: 54.96px;
  color: #d41443;
  width: 7em;
  //   cursor: pointer;
}

.social-links {
  list-style-type: none;
  list-style-position: outside;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 30px;
  text-align: center;
  //   margin-left: 280px;
  // margin-bottom: 30px;
  // margin-top: 30px;
  margin-block: 2.5rem;
}
.footer-svg {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  column-gap: 1.765rem;
  text-align: center;
  justify-content: flex-end;
}
.footer-icon {
  width: 32px;
  height: 32px;
  // top: 3736px;
  // left: 590px;
  /* padding: 12px; */
  // display: flex;
  fill: #ffa5ba;
  background-color: #ffffff1a;
  border-radius: 50%;
}
.footer-icon:hover {
  fill: #d41443;
}
.contacts-footer {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  //   margin-left: 200px;

  width: fit-content;
  margin-left: auto;
  font-family: var(--footer-font);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.86em;
}
.contact-text {
  width: 268px;
  height: 26px;
  top: 3810px;
  //   margin-left: 210px;
  color: #000000;
  text-align: right;
}
.contact-phone {
  width: 268px;
  height: 26px;
  top: 3810px;
  color: #d41443;
  text-decoration: none;
  text-decoration-line: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: font-size 1s;
}
.contact-phone:hover {
  font-size: 15px;
  /* letter-spacing: 1px; */
}
.section-final {
  font-family: var(--footer-font);
  font-weight: 700;
  font-size: 14px;
  // line-height: 26.04px;
  // width: 278px;
  // height: 26px;
  // top: 3903px;
  // left: 246px;
  color: #907e82;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  text-align: center;
  // max-width: 150px;
  // padding-left: 0px;
  // padding-top: 30px;
  // padding-bottom: 30px;
  // padding-right: 0px;
  //   margin-left: 200px;
  cursor: pointer;
  margin-top: calc(7rem - 4em);
  line-height: 1.52em;
  flex-direction: column;
}
.section-final:hover {
  /* transform: translateY(-3px) translateX(-5px); */
  font-size: 15px;
  transition: font-size 1s;
}

/*Tablet*/
@media screen and (min-width: 768px) {
  .footer-title-one {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-title-ice-cream {
    // width: 340px;
    // height: 57px;
    // margin-left: 18px;
    // margin-right: 460px;
    font-size: 26px;
    letter-spacing: 0.04em;
  }
  .footer-title-made {
    // width: 340px;
    // height: 57px;
    // margin-left: -460px;
  }
  .footer-title-with {
    // width: 340px;
    // height: 110px;
  }
  .footer-title-passion {
    // margin-top: -70px;
    // width: 340px;
    // height: 110px;
  }
  .social-links {
    // margin-left: 500px;
    // margin-top: -130px;
  }
  .contact-text {
    // margin-left: 450px;
  }
  .section-final {
    // margin-left: 330px;
    display: block;
  }
  .letter {
    font-size: 58px;
    letter-spacing: 0.06em;
  }
  .letter > span {
    vertical-align: middle;
    display: inline-block;
  }
  .letter > span:hover {
    transform: scale(1.2);
  }
}
/*Desktop*/
@media screen and (min-width: 1158px) {
  .footer-title-one {
    /* flex-direction: row; */
    gap: 40px;
    /* width: 45%; */
  }
  .footer-title-one:hover {
    .footer-title-made {
      color: red;
      margin-left: 150px;
    }
    .container {
      display: flex;
      flex-direction: column;
      /* text-align: center; */
      height: 50px;
    }
    .footer-title-ice-cream {
      margin-left: 70px;
    }
  }

  .footer-title-ice-cream {
    /* width: 472px;
        height: 34px; */
    margin: 0;
    width: unset;
  }

  .footer-title-made {
    /* width: 472px;
        height: 34px;
     */
    margin: 0;
    margin-left: 5px;
  }
  .footer-title-with {
    width: 474px;
    height: 66px;
  }
  .footer-title-passion {
    width: 474px;
    height: 66px;
    margin-left: -360px;
    margin-top: -12px;
  }
  .social-links {
    margin-left: 500px;
    margin-top: -130px;
  }
}
