<section class="footer-locations" id="contacts">
   <div class="footer-locations-container">
      <ul class="locations-cards">
         <li>
            <div class="superior-card">
               <p class="footer-locations-title">Cafe</p>
               <h2 class="location"> Chicago</h2>
               <p class="superior-card-text">Handcrafted coffee, baked goods, and premium ice cream.</p>
            </div>
            <div class="schedule-container">
               <h2 class="days">Monday - Friday</h2>
               <p class="hours">06:00 AM - 10:00 PM</p>
               <h2 class="days-weekend">Saturday - Sunday</h2>
               <p class="hours">08:00 AM - 16:00 PM</p>
            </div>
            <div class="footer-locations-contacts">
               <a href="tel:+61038766284" class="contact-info-locations">+61(0) 383 766 284</a>
               <a href="mailto:noreply@envato.com" class="contact-info-locations">noreply@envato.com</a>
            </div>
         </li>
         <li>
            <div class="superior-card">
               <p class="footer-locations-title" id="foodtruck">Foodtruck</p>
               <h2 class="location">Los Angeles</h2>
               <p class="superior-card-text">Fusion cuisine and refreshing ice cream made with passion.</p>
            </div>
            <div class="schedule-container">
               <h2 class="days">Monday - Friday</h2>
               <p class="hours">06:00 AM - 10:00 PM</p>
               <h2 class="days-weekend">Saturday - Sunday</h2>
               <p class="hours">08:00 AM - 16:00 PM</p>
            </div>
            <div class="footer-locations-contacts">
               <a href="tel:+61038766284" class="contact-info-locations">+61(0) 383 766 284</a>
               <a href="mailto:noreply@envato.com" class="contact-info-locations">noreply@envato.com</a>
            </div>
         </li>
         <li>
            <div class="superior-card">
               <p class="footer-locations-title">Cafe</p>
               <h2 class="location">New York</h2>
               <p class="superior-card-text">Specialty teas, artisanal pastries, mouth-watering ice cream.</p>
            </div>
            <div class="schedule-container">
               <h2 class="days">Monday - Friday</h2>
               <p class="hours">06:00 AM - 10:00 PM</p>
               <h2 class="days-weekend">Saturday - Sunday</h2>
               <p class="hours">08:00 AM - 16:00 PM</p>
            </div>
            <div class="footer-locations-contacts">
               <a href="tel:+61038766284" class="contact-info-locations">+61(0) 383 766 284</a>
               <a href="mailto:noreply@envato.com" class="contact-info-locations">noreply@envato.com</a>
            </div>
         </li>
      </ul>
      <div class="locations-buttons">
         <button class="our-locations"> Our locations
            <svg class="svg-locations">
               <use href="./images/symbol-defs-header.svg#icon-locations">
               </use>
            </svg>
         </button>
         <button class="franchise">Franchise
            <svg class="svg-franchise">
               <use href="./images/symbol-defs-header.svg#icon-franchise">

               </use>
            </svg></button>
      </div>
   </div>
</section>