<header class="header-section">
  <div class="container">
    <div class="mobile-nav">
      <div class="logo-menu-container">
        <a href="#">
          <svg class="logo-svg">
            <use
              href="./images/symbol-defs-header.svg#icon-icecream-header-logo"
            ></use>
          </svg>
        </a>
        <ul class="desktop-navbar">
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">How it's made?</a></li>
          <li><a href="#">Our products</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <svg class="mobile-tablet-menu-icon open-btn" data-modal-open>
          <use
            href="./images/symbol-defs-header.svg#icon-mobile-tablet-menu-icon"
          ></use>
        </svg>
      </div>
      <button class="tablet-buy-now" type="button">Buy now ></button>
      <svg class="tablet-cafes-number">
        <use href="./images/symbol-defs-header.svg#cafe-number-header"></use>
      </svg>
      <svg class="food-truck-number">
        <use
          href="./images/symbol-defs-header.svg#food-truck-number-header"
        ></use>
      </svg>
    </div>
    <img
      class="icecream-cone"
      src="./images/icecream-cone-header-d.png?width=236"
      alt="ice cream cone"
    />
    <h2 class="header-text">ice cream made with <span>passion</span></h2>
    <div class="header-buttons">
      <button type="button">Products</button>
      <button type="button">How it's made?</button>
    </div>
    <div class="paragraph-secondary">
      <img
        class="milk-bottle-header"
        src="./images/bottle-of-milk.png"
        alt="bottle of milk"
      />
      <div class="paragraph-and-button-container">
        <p class="header-secondary-text">
          Indulge in a scoop of ice cream made with passion and treat your taste
          buds to an unforgettable experience!
        </p>
        <button type="button">></button>
      </div>
      <img
        class="woman-eating-ice-cream-header"
        src="./images/woman-eating-ice-cream.png"
        alt="woman eating ice cream"
      />
    </div>
  </div>
</header>

