<header class="header-section" id="header">
  <div class="container">
    <div class="mobile-nav">
      <div class="logo-menu-container">
        <a href="https://chiperandrei42.github.io/parcel-project-team5/">
          <svg class="logo-svg">
            <use
              href="./images/symbol-defs-header.svg#icon-icecream-header-logo"
            ></use>
          </svg>
        </a>
        <nav>
          <ul class="desktop-navbar">
            <li><a href="#header">Home</a></li>
            <li><a href="#customer-reviews">About us</a></li>
            <li><a href="#how-its-made">How it's made?</a></li>
            <li><a href="#products">Our products</a></li>
            <li><a href="#contacts">Contact</a></li>
          </ul>
        </nav>
        <svg class="mobile-tablet-menu-icon open-btn" data-modal-open>
          <use
            href="./images/symbol-defs-header.svg#icon-mobile-tablet-menu-icon"
          ></use>
        </svg>
      </div>
      <button class="tablet-buy-now" type="button">Buy now ></button>
      <svg class="tablet-cafes-number">
        <use href="./images/symbol-defs-header.svg#cafe-number-header"></use>
      </svg>
      <svg class="food-truck-number">
        <use
          href="./images/symbol-defs-header.svg#food-truck-number-header"
        ></use>
      </svg>
    </div>
    <div class="icecream-cone">
      <svg>
        <use href="./images/symbol-defs-header.svg#pink-circle" />
      </svg>
      <img
        srcset="
          ./images/icecream-cone-header.avif?as=png&width=472 472w,
          ./images/icecream-cone-header.avif?as=png&width=342 342w,
          ./images/icecream-cone-header.avif?as=png&width=286 286w,
          ./images/icecream-cone-header.avif?as=png&width=236 236w,
          ./images/icecream-cone-header.avif?as=png&width=171 171w,
          ./images/icecream-cone-header.avif?as=png&width=143 143w
        "
        sizes="(min-width: 1158px) 236px, (min-width: 768px) 143px, 171px"
        src="./images/icecream-cone-header.avif"
        alt="ice cream cone"
      />
    </div>
    <h2 class="header-text">ice cream made with <span>passion</span></h2>
    <div class="header-buttons">
      <button type="button">Products</button>
      <button type="button">How it's made?</button>
    </div>
    <div class="paragraph-secondary">
      <img
        class="milk-bottle-header"
        src="./images/bottle-of-milk.png"
        alt="bottle of milk"
      />
      <div class="paragraph-and-button-container">
        <p class="header-secondary-text">
          Indulge in a scoop of ice cream made with passion and treat your taste
          buds to an unforgettable experience!
        </p>
        <button type="button">></button>
      </div>
      <img
        class="woman-eating-ice-cream-header"
        src="./images/woman-eating-ice-cream.png"
        alt="woman eating ice cream"
      />
    </div>
  </div>
</header>
