<div class="modal is-hidden" data-modal>
  <svg class="close-btn" data-modal-close>
    <use href="./images/icons.svg#icon-close-modal-svg"></use>
  </svg>

  <div class="modal-content">
    <button class="btn-buy-modal">
      <span>Buy now</span>

      <svg class="arrow-svg">
        <use href="./images/icons.svg#icon-arrow-right"></use>
      </svg>
    </button>
    <nav class="modal-nav">
      <a href="#">Home</a>
      <a href="#">About us</a>
      <a href="#">How it&#8217;s made?</a>
      <a href="#">Our products</a>
      <a href="#">Contact</a>
    </nav>
  </div>
</div>

<script src="./js/modal.js"></script>
