<section class="products-section" id="products">
  <div class="products-container">
    <p class="products-label">100% natural</p>
    <h2 class="products-header">products</h2>
    <ul class="products-list">
      <li class="product-item">
        <img
          srcset="
            ./images/ice-cream.png?width=736 736w,
            ./images/ice-cream.png?width=368 368w,
            ./images/ice-cream.png?width=450 450w,
            ./images/ice-cream.png?width=225 225w,
            ./images/ice-cream.png?width=560 560w,
            ./images/ice-cream.png?width=280 280w
          "
          sizes="(min-width: 768px) 225px, (min-width: 1158px) 368px, 280px"
          src="./images/ice-cream.png?width=280"
          alt="o inghetata cu capsuni"
          class="product-image"
        />

        <img
          srcset="
            ./images/ice-cream.png?width=736 736w,
            ./images/ice-cream.png?width=368 368w,
            ./images/ice-cream.png?width=450 450w,
            ./images/ice-cream.png?width=225 225w,
            ./images/ice-cream.png?width=560 560w,
            ./images/ice-cream.png?width=280 280w
          "
          sizes="(min-width: 768px) 225px, (min-width: 1158px) 368px, 280px"
          src="./images/ice-cream.png?width=280"
          alt="o inghetata cu capsuni"
          class="product-image"
        />
        <h3 class="product-name">ice cream</h3>

        <svg class="products-dots">
          <use href="./images/symbol-defs-products.svg#icon-dots"></use>
        </svg>

        <p class="product-description">
          Indulge in our rich and creamy ice cream, handcrafted with all-natural
          ingredients and available in a variety of flavors.
        </p>
        <div class="arrow-container">
          <svg class="arrow-right">
            <use
              href="./images/symbol-defs-products.svg#icon-arrow-right"
            ></use>
          </svg>
        </div>
      </li>
      <li class="product-item">
        <img
          srcset="
            ./images/ice-coffee.png?width=736 736w,
            ./images/ice-coffee.png?width=368 368w,
            ./images/ice-coffee.png?width=450 450w,
            ./images/ice-coffee.png?width=225 225w,
            ./images/ice-coffee.png?width=560 560w,
            ./images/ice-coffee.png?width=280 280w
          "
          sizes="(min-width: 768px) 225px, (min-width: 1158px) 368px, 280px"
          src="./images/ice-coffee.png?width=280"
          alt="cafea cu gheata intr-un pahar cu pai"
          class="product-image"
        />
        <img
          srcset="
            ./images/ice-coffee.png?width=736 736w,
            ./images/ice-coffee.png?width=368 368w,
            ./images/ice-coffee.png?width=450 450w,
            ./images/ice-coffee.png?width=225 225w,
            ./images/ice-coffee.png?width=560 560w,
            ./images/ice-coffee.png?width=280 280w
          "
          sizes="(min-width: 768px) 225px, (min-width: 1158px) 368px, 280px"
          src="./images/ice-coffee.png?width=280"
          alt="cafea cu gheata intr-un pahar cu pai"
          class="product-image"
        />
        <h3 class="product-name">ice coffee</h3>
        <svg class="products-dots">
          <use href="./images/symbol-defs-products.svg#icon-dots"></use>
        </svg>
        <p class="product-description">
          Refresh and energize with our perfectly brewed iced coffee, made with
          high-quality beans and served over ice.
        </p>
        <div class="arrow-container">
          <svg class="arrow-right">
            <use
              href="./images/symbol-defs-products.svg#icon-arrow-right"
            ></use>
          </svg>
        </div>
      </li>
      <li class="product-item">
        <img
          srcset="
            ./images/milkshake.png?width=736 736w,
            ./images/milkshake.png?width=368 368w,
            ./images/milkshake.png?width=450 450w,
            ./images/milkshake.png?width=225 225w,
            ./images/milkshake.png?width=560 560w,
            ./images/milkshake.png?width=280 280w
          "
          sizes="(min-width: 768px) 225px, (min-width: 1158px) 368px, 280px"
          src="./images/milkshake.png?width=280"
          alt="milkshake intr-un pahar cu pai"
          class="product-image"
        />
        <img
          srcset="
            ./images/milkshake.png?width=736 736w,
            ./images/milkshake.png?width=368 368w,
            ./images/milkshake.png?width=450 450w,
            ./images/milkshake.png?width=225 225w,
            ./images/milkshake.png?width=560 560w,
            ./images/milkshake.png?width=280 280w
          "
          sizes="(min-width: 768px) 225px, (min-width: 1158px) 368px, 280px"
          src="./images/milkshake.png?width=280"
          alt="milkshake intr-un pahar cu pai"
          class="product-image"
        />
        <h3 class="product-name">milkshakes</h3>
        <svg class="products-dots">
          <use href="./images/symbol-defs-products.svg#icon-dots"></use>
        </svg>
        <p class="product-description">
          Satisfy your sweet tooth with our thick, made with premium ice cream,
          topped with whipped cream and your favorite toppings.
        </p>
        <div class="arrow-container">
          <svg class="arrow-right">
            <use
              href="./images/symbol-defs-products.svg#icon-arrow-right"
            ></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
