<!-- Testimonials section -->
<div class="testimonials-section" id="customer-reviews">
  <!-- Img testimonials section -->

  <div class="container-img">
    <div class="first-container">
      <div class="img-testimonials-1"></div>
    </div>

    <div class="second-container">
      <div class="img-testimonials-2"></div>
      <div class="img-testimonials-3"></div>
    </div>

    <div class="third-container">
      <div class="img-testimonials-4"></div>
      <div class="img-testimonials-5"></div>
    </div>

    <div class="fourth-container">
      <div class="img-testimonials-6"></div>
      <div class="img-testimonials-7"></div>
    </div>

    <div class="fifth-container">
      <div class="img-testimonials-8"></div>
      <div class="img-testimonials-9"></div>
    </div>

    <div class="sixth-container">
      <div class="img-testimonials-10"></div>
    </div>
  </div>

  <!-- People Testimonials -->

  <div class="people-testimonials-container">
    <div class="container-cards">
      <!-- first testimonial -->
      <div class="testimonial-card card-1">
        <div class="first-person"></div>
        <div class="container-text-testimonials">
          <svg class="quatation-mark-svg">
            <use href="./images/icons.svg#icon-quatation-mark"></use>
          </svg>

          <div class="container-review">
            <span
              >I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </span>
          </div>
        </div>

        <div class="container-dot-and-name">
          <div class="container-red-dot">
            <svg class="red-dot-svg">
              <use href="./images/icons.svg#icon-red-dot"></use>
            </svg>

            <svg class="red-dot-svg">
              <use href="./images/icons.svg#icon-red-dot"></use>
            </svg>

            <svg class="red-dot-svg">
              <use href="./images/icons.svg#icon-red-dot"></use>
            </svg>
          </div>

          <span>Emily, Los Angeles</span>
        </div>

        <div class="switch-btn">
          <svg class="gray-dot first-gray-dot">
            <use href="./images/icons.svg#icon-gray-dot"></use>
          </svg>

          <svg class="gray-dot second-gray-dot">
            <use href="./images/icons.svg#icon-gray-dot"></use>
          </svg>

          <svg class="gray-dot third-gray-dot">
            <use href="./images/icons.svg#icon-gray-dot"></use>
          </svg>
        </div>
      </div>

      <!-- second testimonial -->

      <div class="testimonial-card card-2">
        <div class="second-person"></div>
        <div class="container-text-testimonials">
          <svg class="quatation-mark-svg">
            <use href="./images/icons.svg#icon-quatation-mark"></use>
          </svg>

          <div class="container-review">
            <span
              >I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </span>
          </div>
        </div>

        <div class="container-dot-and-name">
          <div class="container-red-dot">
            <svg class="red-dot-svg">
              <use href="./images/icons.svg#icon-red-dot"></use>
            </svg>

            <svg class="red-dot-svg">
              <use href="./images/icons.svg#icon-red-dot"></use>
            </svg>

            <svg class="red-dot-svg">
              <use href="./images/icons.svg#icon-red-dot"></use>
            </svg>
          </div>

          <span>Emily, Los Angeles</span>
        </div>

        <div class="switch-btn">
          <svg class="gray-dot first-gray-dot">
            <use href="./images/icons.svg#icon-gray-dot"></use>
          </svg>

          <svg class="gray-dot second-gray-dot">
            <use href="./images/icons.svg#icon-gray-dot"></use>
          </svg>

          <svg class="gray-dot third-gray-dot">
            <use href="./images/icons.svg#icon-gray-dot"></use>
          </svg>
        </div>
      </div>

      <!-- third testimonial -->

      <div class="testimonial-card card-3">
        <div class="third-person"></div>
        <div class="container-text-testimonials">
          <svg class="quatation-mark-svg">
            <use href="./images/icons.svg#icon-quatation-mark"></use>
          </svg>

          <div class="container-review">
            <span
              >I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </span>
          </div>
        </div>

        <div class="container-dot-and-name">
          <div class="container-red-dot">
            <svg class="red-dot-svg">
              <use href="./images/icons.svg#icon-red-dot"></use>
            </svg>

            <svg class="red-dot-svg">
              <use href="./images/icons.svg#icon-red-dot"></use>
            </svg>

            <svg class="red-dot-svg">
              <use href="./images/icons.svg#icon-red-dot"></use>
            </svg>
          </div>

          <span>Emily, Los Angeles</span>
        </div>

        <div class="switch-btn">
          <svg class="gray-dot first-gray-dot">
            <use href="./images/icons.svg#icon-gray-dot"></use>
          </svg>

          <svg class="gray-dot second-gray-dot">
            <use href="./images/icons.svg#icon-gray-dot"></use>
          </svg>

          <svg class="gray-dot third-gray-dot">
            <use href="./images/icons.svg#icon-gray-dot"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
